@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<footer id="footer">
    <div class="container content">
        <div class="row">
            <div class="col-3">
                <h1>Customer Service</h1>
                <ul>
                    <li><a href="#">Help & FAQs</a></li>
                    <li><a href="#">Order Lookup</a></li>
                    <li><a href="#">Shipping & Delivery</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>            
            <div class="col-3">
                <h1>Fixxo's Credit Card</h1>
                <ul>
                    <li><a href="#">Fixxo's Services</a></li>
                    <li><a href="#">Pay Your Credit Card Bill</a></li>
                    <li><a href="#">Cardholder Benefits</a></li>
                    <li><a href="#">Apply for Fixxo's Credit Card</a></li>
                </ul>
            </div>            
            <div class="col-3">
                <h1>Our Stores</h1>
                <ul>
                    <li><a href="#">Stores & Services</a></li>
                    <li><a href="#">Locations & Hours</a></li>
                    <li><a href="#">Store Events</a></li>
                    <li><a href="#">Catalogs</a></li>
                </ul>
            </div>            
            <div class="col-3">
                <h1>Our App</h1>
                <ul class="our-app">
                    <li><a href="#"><img class="app-icon" src="~/static_images/app-store-badge.png" alt=""></a></li>
                    <li><a href="#"><img class="app-icon" src="~/static_images/google-play-badge.png" alt=""></a></li>
                </ul>
                <ul class="socialmedia">
                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-google"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                </ul>
            </div>            
        </div>
    </div>
    <div class="copyright">
        © 2023 Fixxo. All Rights Reserved.
    </div>
</footer>
