@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="__featured-products mt-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card">
                    <div class="img">
                        <img src="/images/card-img.jpg" alt="">
                        <div class="card-menu">
                            <a href="#"><i class="fa-regular fa-heart"></i></a>
                            <a href="#"><i class="fa-regular fa-repeat"></i></a>
                            <a href="#"><i class="fa-regular fa-bag-shopping"></i></a>
                        </div>
                        <a class="__btn-theme btn-card-theme" href="#">
                            <span class="__btn-theme-left"></span>
                            <span class="__btn-theme-right"></span>
                            QUICK VIEW
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="card-category">Category</p>
                        <h5 class="card-title">Modern Black Blouse</h5>
                        <p class="card-rating">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </p>
                        <p class="card-price">$35.00</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="img">
                        <img src="/images/card-img.jpg" alt="">
                        <div class="card-menu">
                            <a href="#"><i class="fa-regular fa-heart"></i></a>
                            <a href="#"><i class="fa-regular fa-repeat"></i></a>
                            <a href="#"><i class="fa-regular fa-bag-shopping"></i></a>
                        </div>
                        <a class="__btn-theme btn-card-theme" href="#">
                            <span class="__btn-theme-left"></span>
                            <span class="__btn-theme-right"></span>
                            QUICK VIEW
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="card-category">Category</p>
                        <h5 class="card-title">Modern Black Blouse</h5>
                        <p class="card-rating">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </p>
                        <p class="card-price">$35.00</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="img">
                        <img src="/images/card-img.jpg" alt="">
                        <div class="card-menu">
                            <a href="#"><i class="fa-regular fa-heart"></i></a>
                            <a href="#"><i class="fa-regular fa-repeat"></i></a>
                            <a href="#"><i class="fa-regular fa-bag-shopping"></i></a>
                        </div>
                        <a class="__btn-theme btn-card-theme" href="#">
                            <span class="__btn-theme-left"></span>
                            <span class="__btn-theme-right"></span>
                            QUICK VIEW
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="card-category">Category</p>
                        <h5 class="card-title">Modern Black Blouse</h5>
                        <p class="card-rating">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </p>
                        <p class="card-price">$35.00</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="img">
                        <img src="/images/card-img.jpg" alt="">
                        <div class="card-menu">
                            <a href="#"><i class="fa-regular fa-heart"></i></a>
                            <a href="#"><i class="fa-regular fa-repeat"></i></a>
                            <a href="#"><i class="fa-regular fa-bag-shopping"></i></a>
                        </div>
                        <a class="__btn-theme btn-card-theme" href="#">
                            <span class="__btn-theme-left"></span>
                            <span class="__btn-theme-right"></span>
                            QUICK VIEW
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="card-category">Category</p>
                        <h5 class="card-title">Modern Black Blouse</h5>
                        <p class="card-rating">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </p>
                        <p class="card-price">$35.00</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="img">
                        <img src="/images/card-img.jpg" alt="">
                        <div class="card-menu">
                            <a href="#"><i class="fa-regular fa-heart"></i></a>
                            <a href="#"><i class="fa-regular fa-repeat"></i></a>
                            <a href="#"><i class="fa-regular fa-bag-shopping"></i></a>
                        </div>
                        <a class="__btn-theme btn-card-theme" href="#">
                            <span class="__btn-theme-left"></span>
                            <span class="__btn-theme-right"></span>
                            QUICK VIEW
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="card-category">Category</p>
                        <h5 class="card-title">Modern Black Blouse</h5>
                        <p class="card-rating">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </p>
                        <p class="card-price">$35.00</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="img">
                        <img src="/images/card-img.jpg" alt="">
                        <div class="card-menu">
                            <a href="#"><i class="fa-regular fa-heart"></i></a>
                            <a href="#"><i class="fa-regular fa-repeat"></i></a>
                            <a href="#"><i class="fa-regular fa-bag-shopping"></i></a>
                        </div>
                        <a class="__btn-theme btn-card-theme" href="#">
                            <span class="__btn-theme-left"></span>
                            <span class="__btn-theme-right"></span>
                            QUICK VIEW
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="card-category">Category</p>
                        <h5 class="card-title">Modern Black Blouse</h5>
                        <p class="card-rating">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </p>
                        <p class="card-price">$35.00</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="img">
                        <img src="/images/card-img.jpg" alt="">
                        <div class="card-menu">
                            <a href="#"><i class="fa-regular fa-heart"></i></a>
                            <a href="#"><i class="fa-regular fa-repeat"></i></a>
                            <a href="#"><i class="fa-regular fa-bag-shopping"></i></a>
                        </div>
                        <a class="__btn-theme btn-card-theme" href="#">
                            <span class="__btn-theme-left"></span>
                            <span class="__btn-theme-right"></span>
                            QUICK VIEW
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="card-category">Category</p>
                        <h5 class="card-title">Modern Black Blouse</h5>
                        <p class="card-rating">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </p>
                        <p class="card-price">$35.00</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="img">
                        <img src="/images/card-img.jpg" alt="">
                        <div class="card-menu">
                            <a href="#"><i class="fa-regular fa-heart"></i></a>
                            <a href="#"><i class="fa-regular fa-repeat"></i></a>
                            <a href="#"><i class="fa-regular fa-bag-shopping"></i></a>
                        </div>
                        <a class="__btn-theme btn-card-theme" href="#">
                            <span class="__btn-theme-left"></span>
                            <span class="__btn-theme-right"></span>
                            QUICK VIEW
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="card-category">Category</p>
                        <h5 class="card-title">Modern Black Blouse</h5>
                        <p class="card-rating">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </p>
                        <p class="card-price">$35.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>