@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.StartPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Layout.cshtml";
}
<section class="__showcase container mb-5">
    <img src="/images/showcase-img-1.svg" class="__img-left" alt="showcase-img-1">
    <div class="__showcase-body">
        <h1>Sale Up</h1>
        <h1>To 50% Off</h1>
        <p>Online shopping free home delivery over $100</p>
        <a class="__btn-theme" href="#">
            <span class="__btn-theme-left"></span>
            <span class="__btn-theme-right"></span>
            SHOP NOW
        </a>
    </div>
    <img src="/images/showcase-img-2.svg" class="__img-right" alt="showcase-img-2">
</section>
<partial name="_Product" />